.loader {
  animation: spin 1s linear infinite;
  border: 16px solid #f8f8f8;
  border-radius: 50%;
  border-top: 16px solid #10a7ff;
  height: 5rem;
  margin: 0 auto;
  margin-top: 13rem;
  width: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
